@charset "EUC-KR";

/* 메인 */

.jumbotron {
  background-size: cover;
  color: black;
}

.carousel {
  height: 400px;
  margin-bottom: 60px;
}
.carousel .item {
  height: 400px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* 로그인 */

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	       box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}


/* 게시판 */

.list {
	width: 350;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}


/* footer */

.footer {
	margin-top: 50px;
}